/* app.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', Helvetica, sans-serif;
  background-image: url('assets/Dogs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  background-color: #fff;
  border-radius: 10px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  padding: 10px;
}

.centralizar {
  text-align: center;
  margin-top: 100px;
}

.Tarefa {
  margin-top: 20px;
}

.animalItem {
  list-style: none;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.imagem {
  margin-right: 20px;
}

.informacoes {
  flex-grow: 1;
}

.acoes {
  display: flex;
  align-items: center;
}

.botaoConcluir {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #4CAF50;
  border: 2px solid #45a049;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botaoConcluir:hover {
  background-color: #45a049;
}

.Tarefa {
  margin-top: 20px;
}

.animalItem {
  list-style: none;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.imagem {
  margin-right: 20px;
}

.informacoes {
  flex-grow: 1;
}

.acoes {
  display: flex;
  align-items: center;
}

.botaoConcluir {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #4CAF50;
  border: 2px solid #45a049;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botaoConcluir:hover {
  background-color: #45a049;
}

.Cadastro {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.Cadastro h2 {
  text-align: center;
  margin-bottom: 20px;
}

.Cadastro form {
  display: flex;
  flex-direction: column;
}

.Cadastro label {
  margin-bottom: 10px;
}

.Cadastro input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#botaocadastrar {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #1c0fd6;
  border: 2px solid #1c0fd6;
  border-radius: 8px;
  cursor: pointer;
  width: 20%;
  margin-top: 10px;
  align-self: center;
}

#botaocadastrar:hover {
  background-color: #0b0a7a;
}

.Filtrar {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.Filtrar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.filtrarForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filtrarForm input {
  width: 60%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.botaoFiltrar,
.botaoLimpar {
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  width: 60%;
}

.botaoFiltrar {
  background-color: #1c0fd6;
  border: 2px solid #1c0fd6;
}

.botaoLimpar {
  background-color: #de3d0b;
  border: 2px solid #de3d0b;
}

.botaoFiltrar:hover,
.botaoLimpar:hover {
  opacity: 0.9;
}



.Cadastro {
  margin-top: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  max-width: 600px; /* para não esquecer o tamanho da div */
  margin-left: auto;
  margin-right: auto;
}

.Cadastro h2 {
  text-align: center;
  margin-bottom: 15px;
}

.Tarefa {
  text-align: center;
}

.Cadastro form {
  display: flex;
  flex-direction: column;
}

.Cadastro label {
  margin-bottom: 10px;
}

.Cadastro input {
  width: 70%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 10px;
}

#botaocadastrar {
  padding: 8px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #1c0fd6;
  border: 2px solid #1c0fd6;
  border-radius: 8px;
  cursor: pointer;
  width: 40%;
  margin-top: 10px;
  align-self: center;
}

#botaocadastrar:hover {
  background-color: #0b0a7a;
}

.Filtrar {
  margin-top: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  max-width: 500px; 
  margin-left: auto;
  margin-right: auto;
}

.Filtrar h2 {
  text-align: center;
  margin-bottom: 15px;
}

.filtrarForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filtrarForm input {
  width: 70%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.botaoFiltrar,
.botaoLimpar {
  margin-top: 10px;
  padding: 8px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
